<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _("Leave Calendar") }} {{ year }}</title>
    <link rel="stylesheet" href="leave_calendar.css">
    <link rel="icon" href="{{ favicon }}">
</head>
<body>
    {% if logged_in %}
    <div class="portal-header">
        <a href="/app">
            <img src="{{ logo }}" alt="Logo" class="logo">
        </a>
        <input type="hidden" id="desk-theme" value="{% if frappe.session.user %}{{ frappe.db.get_value('User', frappe.session.user, 'desk_theme')[0] }}{% else %}A{% endif %}">
    </div>
    <div class="container">
        <div class="view">
            <div class="legend">
                    <div class="legend-item">
                        <span class="vacation-day-field default"></span>= {{ _("No Entry") }}
                    </div>
                    <div class="legend-item">
                        <span class="vacation-day-field default">S</span>= {{ _("Saturday/Sunday") }}
                    </div>
                    <div class="legend-item">
                        <span class="vacation-day-field holiday">H</span>= {{ _("Official Holiday") }}
                    </div>
                    <div class="legend-item">
                        <span class="vacation-day-field absence">A</span>= {{ _("Absent") }}
                    </div>
                {% for leave_type in leave_types %}
                    <div class="legend-item">
                        <span class="vacation-day-field" style="background-color: {{ leave_type.color }};">{{ leave_type.abbreviation }}</span> = {{ leave_type.leave_type }}
                    </div>
                {% endfor %}
            </div>
            <div class="filter-container">
                <div class="current-year">
                    <span>{{ _("Year") }} {{ year }}</span>
                </div>
                <div class="filter">
                    <label for="departmentFilter">{{ _("Filter by Department: ") }}</label>
                    <select id="departmentFilter" onchange="updateDepartmentFilter()">
                        <option value="all" {% if selected_department == 'all' %}selected{% endif %}>{{ _("All Departments") }}</option>
                        {% for department in departments %}
                            <option value="{{ department.name }}" {% if selected_department == department.name %}selected{% endif %}>{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="year-filter">
                    <button class="year-button" id="prevYear" onclick="changeYear(-1)">&#60;&#60;</button>
                    <span class="current-year-display">{{ year }}</span>
                    <button class="year-button" id="nextYear" onclick="changeYear(1)">&#62;&#62;</button>
                </div>
            </div>
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr class="sticky-header">
                            <th scope="col" class="sticky-first-cell text-left">Name</th>
                            <th scope="col">{{ _("Total Leaves") }}</th>
                            <th scope="col">{{ _("Used Leaves") }}</th>
                            <th scope="col">{{ _("Remaining Leaves") }}</th>
                            <th scope="col">{{ _("New") }} {{ year }}</th>
                            <th scope="col">{{ _("Carry Forwarded") }} {{ year - 1 }}</th>
                            {% for header in day_headers %}
                                {% if current_date == header %}
                                    <th scope="col" class="today" id="today">{{ header }}</th>
                                {% else %}
                                    <th scope="col">{{ header }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employee_data %}
                            <tr>
                                <td class="sticky first-col">{{ employee.employee_name }}</td>
                                <td class="text-center">{{ employee.total_leaves_allocated }}</td>
                                <td class="text-center">{{ employee.used_leaves }}</td>
                                <td class="text-center">{{ employee.remaining_leaves }}</td>
                                <td class="text-center">{{ employee.new_leaves_allocated }}</td>
                                <td class="text-center">{{ employee.unused_leaves }}</td>
                                {% for day in employee.days %}
                                    <td>
                                        {% if day.type.name in ["DEFAULT", "SATURDAY", "SUNDAY"] %}
                                            <div class="vacation-day-field default">{{ day.type.abbreviation }}</div>
                                        {% elif day.type.half_day == 1 %}
                                            <div class="vacation-day-field half-day" style="--day-color: {{ day.type.color }}">{{ day.type.abbreviation }}</div>
                                        {% else %}
                                            <div class="vacation-day-field" style="background-color: {{ day.type.color }}">{{ day.type.abbreviation }}</div>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
        <div class="login-prompt">
            <p>{{ _("Please log in to access the leave calendar.") }}</p>
            <a href="/login" class="login-button">{{ _("To the login page") }}</a>
        </div>
    {% endif %}
    <script>

        var loggedIn = {{ logged_in|tojson }};

        if (!loggedIn) {
            window.location.href = '/login';
        }
    </script>
    <script src="leave_calendar.js"></script>
</body>
</html>
